In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv('ds_salaries.csv',sep=',', usecols=('work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 
'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size'))

In [46]:
df = df.drop_duplicates()

In [52]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [58]:
[df['experience_level'].unique(),
df['work_year'].unique(),
df['employment_type'].unique(),
df['job_title'].unique(),
df['salary_currency'].unique(),
df['company_size'].unique()]

[array(['MI', 'SE', 'EN', 'EX'], dtype=object),
 array([2020, 2021, 2022]),
 array(['FT', 'CT', 'PT', 'FL'], dtype=object),
 array(['Data Scientist', 'Machine Learning Scientist',
        'Big Data Engineer', 'Product Data Analyst',
        'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
        'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
        'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
        'Director of Data Science', 'Research Scientist',
        'Machine Learning Manager', 'Data Engineering Manager',
        'Machine Learning Infrastructure Engineer', 'ML Engineer',
        'AI Scientist', 'Computer Vision Engineer',
        'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
        '3D Computer Vision Researcher', 'Data Analytics Engineer',
        'Applied Data Scientist', 'Marketing Data Analyst',
        'Cloud Data Engineer', 'Financial Data Analyst',
        'Computer Vision Software Engineer',
        'Director of Data Engineering', 'Data Science Engineer',
        'Principal Data Engineer', 'Machine Learning Developer',
        'Applied Machine Learning Scientist', 'Data Analytics Manager',
        'Head of Data Science', 'Data Specialist', 'Data Architect',
        'Finance Data Analyst', 'Principal Data Analyst',
        'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
        'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
        'Lead Machine Learning Engineer', 'Data Analytics Lead'],
       dtype=object),
 array(['EUR', 'USD', 'GBP', 'HUF', 'INR', 'JPY', 'CNY', 'MXN', 'CAD',
        'DKK', 'PLN', 'SGD', 'CLP', 'BRL', 'TRY', 'AUD', 'CHF'],
       dtype=object),
 array(['L', 'S', 'M'], dtype=object)]

### Question 1: Who earns the most from data science in 2022?

### Question 2: How the salaries changed in positions: Data Engineer, Data Analyst, Data Scientist from 2020 to 2022?

### Question 3: What type of employment contract is the most popular?

### Question 4: What is the most numerous level of professional experience?

### Question 5: How many people work remotely for an employer from another country?

### Question 6: Can only large companiess afford to remote work?

### Can you predict the Data Scientist earnings for 2023?